@page
@model IndexModel
@{
    ViewData["Title"] = "Hlavní strana";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <component type="typeof(IISprojekt3.Components.MyTestsComponent)" render-mode="Server" />
        <component type="typeof(IISprojekt3.Components.AvailableAssignmentsComponent)" render-mode="Server" />
        if (User.IsInRole("ASISTENT") || User.IsInRole("ADMIN") || User.IsInRole("PROFESOR"))
        {
            <component type="typeof(IISprojekt3.Components.EvaluateTestListComponent)" render-mode="Server" />
            <component type="typeof(IISprojekt3.Components.ApproveTestsComponent)" render-mode="Server" />
            <component type="typeof(IISprojekt3.Components.AsistentAssignmentsComponent)" render-mode="Server" />
        }

        if (User.IsInRole("ADMIN") || User.IsInRole("PROFESOR"))
        {
            <component type="typeof(IISprojekt3.Components.ApproveAsistentsComponent)" render-mode="Server" />
        }
    }
    else
    {
        <h1 class="display-4">Projekt ISS</h1>
        <p>
            Projekt pro tvorbu, plnění a hodnocení testových zkoušek.<br>
            Autoři: Matěj Sojka (xsojka04), Matěj Kudera (xkuder04)
        </p>
    }

</div>

@section Scripts {
    <script src="~/_framework/blazor.server.js"></script>
}
